<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Pick Up</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="../public/stylesheets/index-styles.css">
    <script src="../public/controllers/loginController.js"></script>
</head>
<body>
<div class="container" ng-controller="ctrl">

    <div class="jumbotron text-center">
        <h1>Pick Up</h1>

        <p>Login or Register with:</p>

        <a ng-click="login()" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

</div>
</body>
</html>