
body {
  height: 100%;

  .overlay {
    background-color: black;
    opacity: 0.4;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    cursor: pointer;
  }

  .navbar {
    .navbar-header {
      .navbar-brand {
        height: auto;
        .img-circle {
          width: 40px;
        }
      }
      .navbar-toggle {
        margin-top: 19px;
        margin-bottom: 19px;
      }
    }
    .navbar-nav {
      li {
        a {
          line-height: 40px;
        }
      }
    }
  }
}


