body {
  height: 100%;
}
body .overlay {
  background-color: black;
  opacity: 0.4;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 20;
  position: absolute;
  cursor: pointer;
}
body .navbar .navbar-header .navbar-brand {
  height: auto;
}
body .navbar .navbar-header .navbar-brand .img-circle {
  width: 40px;
}
body .navbar .navbar-header .navbar-toggle {
  margin-top: 19px;
  margin-bottom: 19px;
}
body .navbar .navbar-nav li a {
  line-height: 40px;
}
