html {
  height: 100%;

  body {
    height: 100%;

    .overlay {
      background-color: black;
      opacity: 0.4;
      display: none;
      height: 100%;
      width: 100%;
      z-index: 20;
      position: absolute;
      cursor: pointer;
    }

    .container {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      .left-nav {
        position: fixed;
        height: 100%;
        width: 20%;
        left: 0;
        top: 0;
        border-right: 1px solid #333333;
        z-index: 1000;
        background: #252627;

        .nav-header {
          width: 100%;
          padding: 15px 0;
          text-align: center;
          font-size: 25px;
          font-weight: 700;
          background-color: #013a6f;
          color: white;
          border-bottom: 2px solid #333;
        }

        ul {
          padding: 10px;
          text-align: center;
          li {
            padding-top: 5px;
          }
        }
      }

      .content {
        margin-left: 20%;
        height: 100%;
        .map-container {
          padding: 15px;
          height: 80%;
          .jumbotron {
            padding: 20px;
            height: 100%;
          }
        }

        .pick-ups {
          padding: 15px;
        }

        .add-pickUp {
          width: 20%;
          height: 100%;
          position: absolute;
          left: -10%;
          background: #252627;
          z-index: 100;
          border-right: 1px solid #333333;
          border-bottom: 1px solid #333333;
          border-top: 1px solid #333333;
          color: #ffffff;

          form {
            padding: 10px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}